[client-server]
port = 3306
socket = /run/mysqld/mysql.sock

[server]
user = mysql
datadir = /home/data
bind-address = 0.0.0.0
local-infile = 0
character_set_server = utf8mb4
collation_server = utf8mb4_uca1400_ai_ci
