[client-server]
port = ${MARIADB_PORT}
socket = /run/mysqld/mysql.sock

[client]
password = $MARIADB_USER_PASSWORD

[server]
user = mysql
datadir = /home/database
bind-address = 0.0.0.0
local-infile = 0
character_set_server = $DB_CHARSET
collation_server = $DB_COLLATE
