[client-server]
port = 3306
socket = /run/mysqld/mysql.sock

[client]
password = $MARIADB_WORDPRESS_USER_PASSWORD

[server]
user = mysql
datadir = /home/data
bind-address = 0.0.0.0
local-infile = 0
character_set_server = $DATABASE_CHARSET
collation_server = $DATABASE_COLLATE
